@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --green: #14b606;
  --white-color: #fff;
  --black-color: rgb(0, 0, 0);
  --light-color: rgba(50, 50, 50, 0.3);
  --dark-one: #333;
  --dark-two: #8b8b8b;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #d6d6d6;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0rem;
  padding: 0;
  text-decoration: none;
  font-size: 60%;
  }

header {
  width: 50px;
  display: flex;
  align-items: center;
  background: var(--light-two);
  border-bottom: 0.1rem solid var(--light-color);
  padding: 1.3rem;
}
body{
  background-color: var(--black-color);
  overflow-x: hidden;
}

header .logo {
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--black-color);
  font-size: 3rem;
}

header .logo span {
  color: #18b301;
  font-size: 4rem;
}

header .search {
  margin-left: 150px;
  font-size: 50px;
  display: flex;
}

header .search label{
  background-color: var(--light-three);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 1.3rem;

}

header .search input {
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--light-three);
}

header .icons {
  position: absolute;
  right: 4rem;
}

header .icons a,
header .icons div {
  height: 4rem;
  width: 4rem;
  font-size: 1.7rem;
  line-height: 4rem;
  background: var(--black-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.starttext{
  position: absolute;
  font-size: 4rem;
  padding-left: 70px;
  padding-top: 150px;
  z-index: 2;
  color: var(--white-color);
}

.startpage {
  color: var(--white-color);
  z-index: 2;
  font-size: 2rem;
  position: absolute;
  top: 310px;
  left: 70px;
}

.Nyheter {
  display: flex;
  max-width: 100%;
}


.buy {
  z-index: 0;
  position: absolute;
  left: 70px;
  width: 200px;
  top: 370px;
  font-size: 30px;
  cursor: pointer;
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 10px;
  display: inline-block;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.meny-img{
  position: absolute;
  width: 100%;
  z-index: -1;
}

.start1 {
  position: absolute;
  right: 20px;
  opacity: 0.3;
  max-width: 300px;
  padding-top: 50px;
  padding-right: 900px;
  z-index: 0;
}


.produkter {
  color: var(--green);
  font-size: 4rem;
  border-radius: 20px;
  display: flex;
  max-width: 100%;
  padding-top: 600px;
  z-index: 3;
}
.produkter .ruta-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 370px;
  background-color:var(--white-color);
  margin: 10px;
}

.profilpeggar {
  color: var(--white-color);
  position: absolute;
  z-index: -1;
  font-size: 4rem;
  left: 165px;
  top: 830px;
  text-transform: uppercase;
  font-weight: bolder;
}



.profilpeggar span{
  color: #18b301;
  font-size: 5rem;
}

.produkter .ruta-1:hover {
  opacity: 0.5;
  z-index: -1;
}

.produkter .ruta-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  border-radius: 20px;
  background-color:var(--white-color);
  margin: 10px;
}

.profilkepsar {
  color: var(--white-color);
  position: absolute;
  z-index: -1;
  font-size: 4rem;
  left: 790px;
  top: 830px;
  text-transform: uppercase;
  font-weight: bolder;
}


.profilkepsar span{
  color: #18b301;
  font-size: 5rem;
}


.search .placeholder {
  padding: 10px;
  font-size: 20px;
}

.footer {   
  padding: 50px;
  width: 100%;  
  background-color: black;  
  color: white;  
  text-align: center;  
  font-size: 20px;
  }  
  
  .form {
    color: white;
    padding-left: 20px;
    font-size: 300%;
  }

  .map{
    padding: 20px;
  }

  .time{
    color: var(--white-color);
  }

.display {
  color: white;
  font-size: 15px;
  padding: 20px;
  margin: 20px;
}

.displayb{
  padding: 20px;
  margin: 20px;
  font-size: 15px;
}

  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
    header .search {
      display: none;
    }
  }