@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --green: #14b606;
  --white-color: #fff;
  --black-color: #333;
  --light-color: rgba(0, 0, 0, 0.3);
  --dark-one: #333;
  --dark-two: #8b8b8b;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #d6d6d6;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0rem;
  padding: 0;
  text-decoration: none;
  font-size: 60%;
  }

header {
  width: 98%;
  display: flex;
  align-items: center;
  background: var(--light-two);
  border-bottom: 0.1rem solid var(--light-color);
  padding: 1.3rem;
}

header .logo {
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--black-color);
  font-size: 3rem;
}

header .logo span {
  color: #18b301;
  font-size: 4rem;
}

header .search {
  margin-left: 150px;
  font-size: 50px;
  display: flex;
}

header .search label{
  background-color: var(--light-three);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 1.3rem;

}

header .search input {
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--light-three);
}

header .icons {
  position: absolute;
  right: 4rem;
}

header .icons a,
header .icons div {
  height: 4rem;
  width: 4rem;
  font-size: 1.7rem;
  line-height: 4rem;
  background: var(--black-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.starttext{
  font-size: 4rem;
  padding-left: 100px;
  padding-top: 50px;
  z-index: 2;
}

.Nyheter {
  display: flex;
  max-width: 100%;
}
.startpage {
  height: 100%;
  width: 100%;
}

.buy {
  z-index: 0;
  position: absolute;
  left: 70px;
  width: 200px;
  top: 400px;
  font-size: 30px;
  cursor: pointer;
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 10px;
  display: inline-block;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.start1 {
  position: absolute;
  right: 20px;
  opacity: 0.3;
  max-width: 300px;
  padding-top: 50px;
  padding-right: 900px;
  z-index: 0;
}

.produkter {
  color: var(--green);
  font-size: 4rem;
  border-radius: 20px;
  display: flex;
  max-width: 100%;
  padding-top: 400px;
}
.produkter .ruta-1 {
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  border-radius: 20px;
  height: 400px;
}
.produkter .ruta-2 {
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  border-radius: 20px;
}
.produkter .ruta-3 {
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  border-radius: 20px;
}
.search .placeholder {
  padding: 10px;
  font-size: 20px;
}
